.about{
    padding-bottom: 50px;

}

.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.picture{
    height: 450px;
}

.about-info{
    font-size: 24px;
}

.info-name{
    color: blue;
    font-size: 32px;
    font-weight: 800;
}

@media only screen and (max-width: 720px) {
    .about-top{
       flex-direction: column;
       justify-content: center;
       align-items: center; 
    }
    .picture{
       height: 280px; 
    }
    .about-info{
        font-size: 20px;
    }
    .info-name{
        font-size: 20px;
    }
}
    
