.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-div{
    padding: 6px;
    cursor: pointer;
    margin: 6px;
}

.social-icon{
    height: 80px;
}  

@media only screen and(max-width:720p){
    .social-icon{
        height: 65px;
    }
}